@page "/cabinet/{Id:int}"
@inject NavigationManager Navigator

<div class="cabinet-card">
    <CabinetCard cabinet="_cabinet" />
</div>

<div class="input-card">
    <label for="input-number">Number:</label>
    <input type="number" id="input-number" name="input-number" @bind="_cabinet.Number">
    <div class="checkbox-wrapper">
        <input type="checkbox" id="input-checkbox" name="input-checkbox" @bind="_cabinet.Status">
        <label class="checkbox-label" for="input-checkbox">Label text</label>
    </div>
    <button @onclick="UpdateCabinet" type="button" class="btn btn-primary">Update</button>
</div>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback<int> BtnEvent { get; set; }

    private List<CabinetOutputModel> _cabinetsList;
    private CabinetOutputModel _cabinet;

    protected override void OnInitialized()
    {
        _cabinetsList = new CabinetManager().GetAllCabinets();
        foreach (var i in _cabinetsList)
        {
            if(i.Id == Id)
            {
                _cabinet = i;
            }
        }

    }
    private void UpdateCabinet()
    {
        var up = new UpdateCabinetInputModel()
            {
                Id = _cabinet.Id,
                Number = _cabinet.Number,
                Status = _cabinet.Status
        };
        new CabinetManager().UpdateCabinetById(up);
        Navigator.NavigateTo("/cabinets", true);
    }
}