@page "/cabinets" 
<h3>CabinetPage</h3>
<NavLink href="/add-cabinet"><button type="button" class="btn btn-info">Add Cabinet</button></NavLink>

@if (_cabinets.Count != 0)
{       
        @foreach (var i in _cabinets)
        {
        _tmpHref = "/cabinet/"+i.Id;
        <div class="cabinet-card">
            <CabinetCard cabinet="i"/>
            <NavLink href=@{_tmpHref}><button class="btn btn-primary">Edit</button></NavLink>
        </div>
        }
}
else
{
    <h2>sorry the nothing to this search</h2>
}

@code {
    private string _tmpHref { get; set; }
    //private new List<int?> ListOfCabinetsNumbers;
    private List<CabinetOutputModel> _cabinets = new List<CabinetOutputModel>();

    protected override void OnInitialized()
    {
        var cm = new CabinetManager();
        _cabinets = cm.GetAllCabinets();
    }
}
