@page "/doctors"

<h3>Наши врачи</h3>

<div class="container-doctors">
    <div class="doctor-setka">
        <div class="doctor-card">
            <NavLink href="/add-doctor">
            <div class="plus-doc">+</div>
            </NavLink>
        </div>
        @foreach (var i in _doctors)
            {
                <DoctorCard doctor="i"/>
            }
    </div>
</div>

@code{
    private List<DoctorOutputModel> _doctors = new List<DoctorOutputModel>();

    protected override void OnInitialized()
    {
        var dm = new DoctorManager();
        _doctors = dm.GetAllDoctors();
    }
}
