@page "/"

<div class = "container">
    <div class="p-specialization">
        Клиника Стрельниковых АО «Медицина» –
        многопрофильный медицинский центр
    </div> <br/>
    <div class="Specializations-pozicion">
        @foreach (var i in _specializations)
        {
            <SpecializationCard Specialization = "i"/>
        }
        <NavLink href="/add-specialization">
            <div class="card-specialization">  
                <div class="plus"> + </div>
            </div>
        </NavLink>
    </div>
       
</div>

@code {
    private List<SpecializationOutputModel> _specializations = new List<SpecializationOutputModel>();

    protected override void OnInitialized()
    {
        var sp = new SpecializationManager();
        _specializations = sp.GetAllSpecializations();
    }
}