@page "/"

<div class = "container">
    <p>
        Клиника Стрельниковых АО «Медицина» –
        многопрофильный медицинский центр
    </p> <br/>
    <div class="Specializations-pozicion">
        @foreach (var i in _specializations)
        {
            <SpecializationCard Specialization = "i"/>
        }
    </div>
</div>

@code {
    private List<SpecializationOutputModel> _specializations = new List<SpecializationOutputModel>();

    protected override void OnInitialized()
    {
        var sp = new SpecializationManager();
        _specializations = sp.GetAllSpecializations();
    }
}