@page "/services"

<h3>ServicesPage</h3>

<div class="specialization-page">
<select name="gender" id="gender" @bind="_gender">
    <option value="true">male</option>
    <option value="false">female</option>
    <option value="all">all</option>
</select>
    @if(_gender == "all")
    {
        @if (_allServices.Count != 0)
        {
            <ul class="page-menu">
                <li>Услуги</li>
                    @foreach (var i in _allServices)
                {
                        <ServiceCard Service = "i"/>
                }
                <a href="/add-service">
                    <li class="plus-li">
                        <span> + </span>
                    </li>
                </a>
            </ul>
        }
        else
        {
                    <h2>there are no offices or an error has occurred</h2>
        }
    }

    else
    {
        @if (_allServices.Count != 0)
        {
            <ul class="page-menu">
                <li>Услуги</li>
                    @foreach (var i in _allServices)
                {
                    if(_gender == "true")
                    {
                        if(i.Male == true)
                            {
                                <ServiceCard Service = "i"/>
                            }    
                    }
                    if(_gender == "false")
                    {
                        if(i.Male == false)
                            {
                                <ServiceCard Service = "i"/>
                            }    
                    }
                }
                <a href="/add-service">
                    <li class="plus-li">
                        <span> + </span>
                    </li>
                </a>
            </ul>
        }
        
    }
</div>

@code {
    private string _tmpHref;
    private string _gender;
    private List<ServiceOutputModel> _allServices = new List<ServiceOutputModel>();
    private List<ServiceOutputModel> _servicesByGender = new List<ServiceOutputModel>();

    protected override void OnInitialized()
    {
        _gender = "all";
        var sm = new ServiceManager();
        _allServices = sm.GetAllServiceByMale(null); 

    }
}