@page "/services"

<h3>ServicesPage</h3>

@if (_services.Count != 0)
{
<div class="specialization-page">
<select name="gender" id="gender">
    <option value="male">male</option>
    <option value="female">female</option>
    <option value="all">all</option>
</select>
    <ul class="page-menu">
        <li>Услуги</li>
        @foreach (var i in _services)
        {
                <ServiceCard Service = "i"/>
        }
        <a href="/add-service">
            <li class="plus-li">
                <span> + </span>
            </li>
        </a>
    </ul>
</div>
}
else
{
            <h2>there are no offices or an error has occurred</h2>
}

@code {
    private string _tmpHref { get; set; }
    private List<ServiceOutputModel> _services = new List<ServiceOutputModel>();

    protected override void OnInitialized()
    {
        var sm = new ServiceManager();
        _services = sm.GetAllServiceByMale(null);
    }
}