<div class="cabinet-info">
        <h2><strong>Cabinet №</strong>: @cabinet.Number</h2>
        <p><strong>Status:</strong>  @cabinet.Status</p>
        @AdditionalData
</div>

@code {
    [Parameter] public CabinetOutputModel cabinet { get; set; }
    [Parameter] public RenderFragment AdditionalData { get; set; }
}
