<div class="doctor-card">
    @if (doctor.Male == true)
    {
      <div class="doctor-pic">
      <img class="photo-doctor" src="/css/Images/Male/{True}.png" alt="photo" />
      </div>
    }
    else
    {
      <div class="doctor-pic">
      <img  class="photo-doctor" src="/css/Images/Male/{False}.png" alt="photo" />
      </div>
    }
    <div class="doctor-text-in-card">
    @if (doctor.Specialization is not null)
    {
       <h6>@doctor.Specialization.Name</h6>
    }
    else
    {
        <h6>СТАЖОР</h6>
    }
    <h4>@doctor.LastName</h4>
    <h5>@doctor.Name</h5>
    </div>
    <div class="">
        <a href="/update-doctor/@doctor.Id">
            Изменить данные
        </a>
    </div>
    <div class="btn-zapis">
        <a href="/timetable-doctor/@doctor.Id">
            Записаться
        </a>
    </div>
</div>

@code {
    [Parameter] public DoctorOutputModel doctor { get; set; }
}
