@inherits LayoutComponentBase

<PageTitle>RecordingSystem.ServerApp</PageTitle>

<body>
  <header>
    @*<h1>Polyclinic <br> <img width="100" src="./22kkHICGwDo.jpg" alt="Label"> </br></h1>*@
  </header>
  <nav>
    <ul>
      <li>
        <a class="button" href="./about.html">About</a>
      </li>
      <li>
        <a class="button" href="./services.html">Services</a>
      </li>
      <li>
        <a class="button" href="./doctors.html">Doctors</a>
      </li>
      <li>
        <a class="button" href="./contacts.html">Contacts</a>
      </li>
      <li>
        <a class="button" href="./recording.html">Recording</a>
      </li>
    </ul>
  </nav>
  <main>
        @Body
  </main>
  <footer>
    <p>Copyright © 2023 Polyclinic</p>
  </footer>
</body>

            

