@inherits LayoutComponentBase

<PageTitle>RecordingSystem.ServerApp</PageTitle>

  <header>
    <h1>Polyclinic </h1>
        @*<h2><img width="100" src="./22kkHICGwDo.jpg" alt="Label"></h2>*@
  </header>
  <nav>
    <ul>
      <li>
        <a class="button" href="./about.html">About</a>
      </li>
      <li>
        <a class="button" href="./services.html">Services</a>
      </li>
      <li>
        <a class="button" href="./doctors">Doctors</a>
      </li>
      <li>
        <a class="button" href="./contacts.html">Contacts</a>
      </li>
      <li>
        <a class="button" href="">Recording</a>
      </li>
    </ul>
  </nav>
  @Body
    <footer>
        <p>Copyright © 2023 Polyclinic</p>
    </footer>
