<div class="card">
    <a href="/specialization/@Specialization.Id">
        @Specialization.Name
    </a>
</div>

@code {
    [Parameter] public SpecializationOutputModel Specialization { get; set; }
}