@page "/recording"
<div>
    <span>Выбери число:</span><select>
        @for(int i = 0; i < 7; i++)
        {
            <option value="True"> @_date.ToShortDateString() </option>
            _date = _date.AddDays(1);
        }
    </select>
</div>

@code {
    private DateTime _date = DateTime.Now;
    [Parameter] public TimeRecordingOutputModel _timeRecording { get; set; }
}
